<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ingress %><br />
    <%= f.text_field :ingress %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= select_tag(:grade, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>
  </div>
  <div class="field">
  <%= f.label "Genres" %>
  <% for genre in Genre.all %>
    <%= check_box_tag 'review[genre_ids][]', genre.id, @review.genre_ids.include?(genre.id), :id => dom_id(genre) %>
    <%= label_tag dom_id(genre), genre.name, :class => "check_box_label" %>
  <% end %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
