<h1>Listing reviews</h1>

<% @reviews.each do |review| %>
  <article>
    <time><%= review.created_at.strftime("%d.%m.%Y") %></time>
  	<h2><%= review.title %></h2>
  	<p><%= review.ingress %></p>
  	<%= link_to 'Show', review %>
    <%= link_to 'Edit', edit_review_path(review) %>
    <%= link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete %>
  </article>
<% end %>

<%= link_to 'New Review', new_review_path %>
